{
  "processors": ["stylelint-processor-arbitrary-tags"],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recess-order"
  ],
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "declaration-colon-space-after": null
  }
}