body,
html {
  height: 100%;
  overflow: hidden;
}
body {
  color: #4e4e4e;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #35495e;
}
a {
  color: #42b883;
}
main,
nav {
  height: 100%;
  overflow-y: scroll;
}
nav {
  padding: 0;
  width: 0;
}
main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 25px;
}
main section {
  margin-top: 40px;
}
code {
  font-family: Roboto Mono, monospace;
  font-weight: 400;
}
pre {
  border-left-color: #42b883;
}
ul ul {
  font-size: 100%;
}
.hljs-number,
.hljs-string {
  color: #af00cd;
}
.tag {
  color: #b3b3b3;
}
.additional {
  font-size: 0.8em;
}
.container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1400px;
  padding: 0;
}
.TreeNavigation {
  margin-top: 42px;
  margin-right: 20px;
  font-size: 0.9em;
}
.TreeNavigation a {
  color: inherit;
}
.TreeNavigation .NavigationLevel__children {
  padding-left: 10px;
}
.TreeNavigation .NavigationLevel__parent {
  font-weight: 600;
  padding-bottom: 5px;
}
.TreeNavigation .NavigationItem {
  color: #545454;
  padding: 0;
}
.TreeNavigation .NavigationItem--active {
  color: #42b883;
}
.TreeNavigation .NavigationToggle__icon {
  border-color: #42b883;
}
#app {
  height: 100%;
}
#app.navOpen nav {
  padding: 20px;
  width: 100vw;
}
#app.navOpen main {
  display: none;
}
#hamburger {
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 1;
  padding: 10px;
  cursor: pointer;
}
#github,
#hamburger {
  color: #b3b3b3;
}
#github:hover,
#hamburger:hover {
  color: #7f7f7f;
}
#installation div {
  margin-top: 50px;
}

@media only screen and (min-width: 900px) {
  #hamburger {
    display: none;
  }
  #github {
    float: right;
  }
  nav {
    padding: 20px;
    width: auto;
  }
  main {
    padding: 30px 60px 60px;
  }
}
