@import './_settings.scss';

@-ms-viewport {
  width: device-width;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size:   16px;
  color:       $vue-blue;
  text-align:  center;
}

a {
  color:           inherit;
  text-decoration: none;
}

h1 {
  font-weight: 300;
  color:       $vue-green;
  text-align:  center;
}

label,
textarea {
  display:      block;
  width:        100%;
  margin-right: auto;
  margin-left:  auto;
}

input,
textarea {
  margin-top:  10px;
  font-family: 'Courier New', monospace;
  font-size:   0.8em;
  border:      1px solid $light-grey;
}

label {
  font-size:   0.8em;
  font-weight: bold;
}

input {
  width:       67px;
  height:      30px;
  font-family: inherit;
}

textarea {
  resize: none;
}

.fa-times {
  color: $rose-red;
}

.fa-check {
  color: $vue-green;
}

.container {
  max-width:  1400px;
  padding:    0 50px;
  margin:     20px auto 50px;
  text-align: left;
}

.tree-navigation {
  .navigation-toggle {
    .navigation-toggle-icon {
      border-color: $vue-green;
      transition:   transform 0.1s;
    }
  }
}

#inputs {
  margin-top: 30px;

  textarea {
    height:        270px;
    margin-bottom: 30px;
  }
}
