@import './_settings.scss';

@media only screen and (min-width: $breakpoint) {
  .container {
    display:         flex;
    justify-content: space-between;
    margin-top:      80px;
  }

  .tree-navigation {
    margin-left: 1vw;

    & > ul {
      margin-top: 0;
    }
  }

  #inputs {
    flex-basis:   55%;
    margin-top:   0;
    margin-right: 2vw;
  }

  #github {
    position: absolute;
    top:      20px;
    left:     20px;
  }
}
