.NavigationToggle {
  position: relative;
  top:      -3px;
  padding:  5px 5px 5px 3px;
  cursor:   pointer;

  &__icon {
    display:      inline-block;
    padding:      3px;
    border:       solid #000;
    border-width: 0 2px 2px 0;
    transform:    rotate(45deg);
  }

  &__icon--closed {
    transform: rotate(-45deg);
  }
}
