.NavigationToggle {
  position: relative;
  top:      -3px;
  padding:  6px;
  cursor:   pointer;

  &__icon {
    display:      inline-block;
    padding:      3px;
    border:       solid #000;
    border-width: 0 2px 2px 0;
    transform:    rotate(45deg);
  }
}

.NavigationToggle--closed {
  .NavigationToggle__icon {
    transform: rotate(-45deg);
  }
}
