.navigation-toggle {
  position: relative;
  top:      -3px;
  padding:  6px;
  cursor:   pointer;

  .navigation-toggle-icon {
    display:      inline-block;
    padding:      3px;
    border:       solid #000;
    border-width: 0 2px 2px 0;
    transform:    rotate(45deg);
  }

  &.closed {
    .navigation-toggle-icon {
      transform: rotate(-45deg);
    }
  }
}
